version: '3.7'

services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: app
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      - PMA_HOST=db
      - PMA_USER=app
      - PMA_PASSWORD=app
    restart: always
    ports:
      - 8080:80

  apache-php:
    depends_on:
      - db
    ports:
     - "80:8080"
    restart: always
    user: "${userid}"
    volumes:
      - type: bind
        source: ./www
        target: /var/www/html
    build:
      context: .
      dockerfile: ./Dockerfile
  
volumes:
    db_data: {}
