version: '3.7'

services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    # restart: never
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: app
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
        - PMA_HOST=db
        - PMA_USER=app
        - PMA_PASSWORD=app
    # environment:
    #   - PMA_HOST=34.77.48.114
    #   - PMA_USER=mliguori
    #   - PMA_PASSWORD=magma19
    # restart: never
    ports:
      - 8080:80

  apache-php:
    container_name: www
    depends_on:
      - db
    ports:
     - "80:8080"
    # restart: never
    user: "${userid}"
    environment: 
      - APACHE_DOCUMENT_ROOT=/var/www/html
    volumes:
      - type: bind
        source: ./www
        target: /var/www/html
    build:
      context: ./docker
      dockerfile: ./Dockerfile
  
volumes:
    db_data: {}
